<div id="<%= dom_id aluguel %>">
  <p>
    <strong>Bike:</strong>
    <%= aluguel.bike.marca+ ' - '+aluguel.bike.modelo %>
  </p>

  <p>
    <strong>Ponto:</strong>
    <%= aluguel.ponto_id %>
  </p>

  <p>
    <strong>Hora retirada:</strong>
    <%= aluguel.hora_retirada %>
  </p>

  <p>
    <strong>Hora devolucao:</strong>
    <%= aluguel.hora_devolucao %>
  </p>

  <p>
    <strong>Forma pagamento:</strong>
    <%= aluguel.forma_pagamento %>
  </p>

</div>
