<%= form_with(model: aluguel) do |form| %>
  <% if aluguel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluguel.errors.count, "error") %> prohibited this aluguel from being saved:</h2>

      <ul>
        <% aluguel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bike_id, style: "display: block" %>
    <%= form.text_field :bike_id %>
  </div>

  <div>
    <%= form.label :ponto_id, style: "display: block" %>
    <%= form.text_field :ponto_id %>
  </div>

  <div>
    <%= form.label :hora_retirada, style: "display: block" %>
    <%= form.datetime_field :hora_retirada %>
  </div>

  <div>
    <%= form.label :hora_devolucao, style: "display: block" %>
    <%= form.datetime_field :hora_devolucao %>
  </div>

  <div>
    <%= form.label :forma_pagamento, style: "display: block" %>
    <%= form.text_field :forma_pagamento %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
