<p style="color: green"><%= notice %></p>

<%= render @aluguel %>

<div>
  <%= link_to "Edit this aluguel", edit_aluguei_path(@aluguel) %> |
  <%= link_to "Back to aluguels", alugueis_path %>

  <%= button_to "Destroy this aluguel", @aluguel, method: :delete %>
</div>
