<%= form_with(model: bike) do |form| %>
  <% if bike.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
        <% bike.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :valor_aluguel, style: "display: block" %>
    <%= form.text_field :valor_aluguel %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
