<div id="<%= dom_id ponto %>">
  <p>
    <strong>Image url:</strong>
    <%= ponto.image_url %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= ponto.endereco %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= ponto.horario %>
  </p>

  <p>
    <strong>Link maps:</strong>
    <%= ponto.link_maps %>
  </p>

</div>
