<!DOCTYPE html>
<html>
  <head>
    <title>Rent a Bike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to(image_tag("/logo.png"), root_path) %>
        <%= link_to 'Catálogo de Bikes', root_path, class: 'navbar-brand' %>
        <%= link_to 'Pontos de retirada e devolução', pontos_path, class: 'navbar-brand' %>
        <%= link_to 'Meu histórico', alugueis_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Login', "#", class: 'nav-link', onClick: 'alert("Em breve ;)")' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container d-flex justify-content-center" style='margin-top: 50px;'>
      <%= yield %>
    </div>

  </body>
</html>
